<div class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <h1 class="mb3">Your Solutions For Community!</h1>
            <p class="mb3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita ullam eligendi mollitia
                perspiciatis est corrupti fugit, animi itaque dignissimos quam quos minus? Est incidunt, voluptatum
                officiis velit vel aut cupiditate.</p>
            <a href="#" class="btn btn-primary">About</a>
        </div>
        <div class="col-6">
            <div>
                <img class="div-img" width="100%" src="./assets/img/logo3.jpg" alt="">
            </div>
        </div>
    </div>
</div>